* {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

html {
	background-color: #000;
}

a {
	outline: none;
}
a img {
	outline: none;
}

.slide {
	z-index: 18;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
}

.slide img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#darkness {
	z-index: -1;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background-color: black;
}

#center {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: 0px 0px 200px 25px #fff;
}